.navbar{
	background-color: #ffff80!important
}
.d-flex{
	margin-right: 150px!important;
}
.navbar-brand{
	margin-left: 80px!important;
}


.btn-outline-success{
 color: rgb(128, 255, 255)!important;
 background-color: #000000!important;
}
.bg-light{
	background-color: #ffff80!important;
}
.carousel-inner{
	margin-top: 20px!important;
	 border: 1px solid #ddd;
 
  padding: 5px;
  width: 1334px;
  height:400px;
}
.footer{
	margin-top: 20px;
}
.dropdown{
	background-color: #000000!important;
	
}


.btn-group{
	height:150px;
  width: 100%;
  
}	

		
